:root {
  --font-principal: "Oxanium", cursive;
  --preto: #000000;
  --branco: #ffffff;
  --azul-borda: #47f4ff;
  --azul-personagem-selecionado: #0271f7;
}

body {
  font-family: var(--font-principal);
  background-color: hsl(0, 0%, 0%);
  color: var(--branco);
}

body::before {
    content: "";
    background-image: url(../img/bg-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    opacity: 0.2;
}

.cabecalho {
  display: flex;
  justify-content: center;
}

.selecao-de-personagens {
  display: flex;
  align-items: center;
  /*gap originalmente 30px*/
  gap: 30px;
  min-height: calc(100vh - 152px);
  justify-content: center;
}

.selecao-de-personagens .lista-personagens {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.selecao-de-personagens .personagens {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 585px;
  gap: 25px;
}

.selecao-de-personagens .personagens .titulo {
  font-size: 20px;
  letter-spacing: 4px;
  text-transform: uppercase;
  border-bottom: 2px solid var(--azul-borda);
  width: 100%;
  text-align: center;
}

.lista-personagens .personagem img {
  width: 100%;
  height: 100%;
}

.lista-personagens .personagem.selecionado {
  box-shadow: 0px 0px 24px 5px var(--azul-personagem-selecionado);
}

.personagem-selecionado {
  text-align: center;
  max-height: 530px;
}

.personagem-selecionado .personagem-grande {
  width: 430px;
  height: 430px;
}

.personagem-selecionado .nome-personagem {
  border-bottom: 2px solid var(--azul-borda);
  letter-spacing: 4px;
  text-transform: uppercase;
}

.personagem-selecionado .descricao-personagem {
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  margin-top: 20px;
  width: 420px;
}
